@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "微软雅黑";
    font-size:62.5%;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#fff;
}
.clearfix{
    clear: both;
}
header{
    width: 100%;
    height: 2.55rem;
    padding: 0rem .45rem;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.a{
    width: 100%;
    height: 2.6rem;
    background: #202020;
}
.swiper1{
    width: 100%;
    height: 5rem;
    background:#202020 ;
    color: white;
    float: left;
    .swiper-wrapper{
        width: 100%;
        height: 100%;
        .swiper-slide{
            width: 100%;
            height: 100%;
            text-align: center;
            .div1{
                width:1.123rem;
                height:1.123rem;
                border-radius: 50%;
                border:0.1rem solid #39C893;
                margin: 0 auto;
                margin-top: 1rem;
                float: left;
                margin-left: 1.8rem;
                background: #202020;
                margin-bottom: .75rem;
            }            
            p{
              width: 100%;
              font-size: 0.7rem;
              color: #39C893;
              float: left;
            }
        }
    } 
    hr{    width: 100%;
           height: 0.001rem;
           position: absolute;
           top: 1.5rem;
           left: 0;
        }
}